@import url('typography.css');

:root {
    /* PRIMARY COLORS */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue:  hsl(245, 75%, 52%);

    /* NEUTRAL COLOR */
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue:hsl(223, 47%, 23%);
}

/* COMMON */
html, body {
    min-width: 100vw;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}