@import url('typography.css');

:root {
    /* PRIMARY COLORS */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue:  hsl(245, 75%, 52%);

    /* NEUTRAL COLOR */
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue:hsl(223, 47%, 23%);
}

/* COMMON */
html, body {
    min-width: 100vw;
}

body {
    background: url('../images/pattern-background-mobile.svg') no-repeat center top ;
    background-color: var(--pale-blue);
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* COMMON FONT STYLE */
article > .article-title,
.price > .plan-title {
    font-family: 'RedHatDisplay-Black';
}

article > .article-description,
.price > .plan-amount  {
    font-family: 'RedHatDisplay-Medium';
}

/* MAIN */
main {
    width: 100%;
}

/* CONTENT-BOX */
.content-box {
    width: 325px;
    height: 570px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

/* HERO IMAGE */
.content-box > .hero-image {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* ARTICLE */
article {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

article > .article-title {
    font-size: 1.5rem;
}

article > .article-description {
    color: var(--desaturated-blue);
    line-height: 25px;
}

/* PRICE SECTION */
.price-box {
    width: 245px;
    height: 60px;
    padding: 10px;
    margin: 10px auto 10px;
    background-color: var(--very-pale-blue);
    border-radius: inherit;
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.price-box > .price,
.price-box  > .icon-image,
.price-box  > .change-link {
    margin: auto;
}

/* PRICE */
.price-box  > .price > p {
    margin: 0;
}

.price > .plan-title,
.price > .plan-amount {
    font-size: 0.85rem;
}

/* CHANGE LINK */
.price-box  > .change-link {
    font-family: 'RedHatDisplay-Bold';
    font-size: 0.75rem;
}

.price-box  > .change-link > a {
    color: var(--bright-blue);
}

.price-box  > .change-link > a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* BUTTONS */
.payment-button,
.cancel-button {
    width: 280px;
    height: 50px;
    margin: 10px auto 0px;
    font-family: 'RedHatDisplay-Bold';
    font-size: 0.95em;
    border-radius: inherit;
    border-width: 0px;
    cursor: pointer;
}

.payment-button {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    box-shadow: 0px 12px 5px 1px var(--pale-blue);
}

.payment-button:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
}

.cancel-button {
    background-color: transparent;
    color: var(--desaturated-blue);
}

.cancel-button:hover {
    color: var(--dark-blue);
}

/* PORTRAIT TABLET */
@media only screen and (min-width:600px) {
}

/* LANDSCAPE TABLET */
@media only screen and (min-width:768px) {

    body {
        background: url('../images/pattern-background-desktop.svg') no-repeat center top;
        background-color: var(--pale-blue);
    }

    /* CONTENT-BOX */
    .content-box {
        width: 450px;
        height: 695px;
    }

    article > .article-title {
        font-size: 1.75rem;
        margin-top: 45px;
        margin-bottom: 15px;
    }

    /* PRICE SECTION */
    .price-box {
        width: 355px;
        height: 95px;
        margin: 10px auto 20px;
        padding: 0px;
        grid-template-columns: 25% 30% 60%;
    }

    .price > .plan-title,
    .price > .plan-amount {
        font-size: 1rem;
    }

    /* CHANGE LINK */
    .price-box  > .change-link {
        font-size: 0.85rem;
    }

    /* BUTTONS */
    .payment-button,
    .cancel-button {
        width: 355px;
        margin: 8px auto 10px;
    }

}

/* LAPTOP/DESKTOP */
@media only screen and (min-width:992px) {
    
}

/* LARGE LAPTOP/DESKTOP */
@media only screen and (min-width:1200px) {
    
}